{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% block headcss %}
<link href="/static/boot41/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 4rem;">
        {% if messages %}
            <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            </div>
        {% endif %}
        {% if msg != None %}
            <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            </div>
        {% endif %}
      <form class="form-signin" method="post" action="/change_info/">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Change user info" %}</h2>
        <h5>{% trans "Email address" %}</h5>
        <label for="inputEmail" class="sr-only">{% trans "Email address" %}</label>
        <input type="email" name="email" class="form-control" placeholder="example@example.com">
        <h5>{% trans "User Name" %}</h5>
        <label for="inputName" class="sr-only">{% trans "User Name" %}</label>
        <input type="text" name="name" class="form-control" placeholder="{% trans 'User Name' %}">
        <h5>{% trans "Old password" %}</h5>
        <label for="inputPassword" class="sr-only">{% trans "Old password" %}</label>
        <input type="password" id="pass" name="oldpwd" class="form-control" placeholder="{% trans 'Old password' %}" required>
        <h5>{% trans "New password" %}{% trans "(if needed)" %}</h5>
        <label for="inputPassword" class="sr-only">{% trans "New password" %}</label>
        <input type="password" name="pwd" class="form-control" placeholder="{% trans 'New password' %}">
        <h5>{% trans "Phone Number" %}</h5>
        <label for="inputPhone" class="sr-only">{% trans "Phone Number" %}</label>
        <input type="tel" name="phone" class="form-control" placeholder="{% trans 'Phone Number' %}">
        <div id="btn">
            <img src="/static/eye.png" alt="eye" style="height:1.5rem;">
            <b>{% trans "show password" %}</b>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change user info" %}</button>

      </form>

    </div> <!-- /container -->

{% endblock %}
{% block jsextends %}
    <script src="/static/password.js"></script>
{% endblock %}
